body{
    background-color: cornsilk;
    /*background-image: url("../img/background_img.jpg");*/
    background-repeat: no-repeat;
    background-size: 100%;
}

footer{
    margin-top: 20px;
    padding-top: 20px;
}

#add__new__device{
    top: -38px;
    right: 0px;
}

a{
    margin-left: 10px;
}