<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="js/table_search.js"></script>
    <script type="text/javascript" src="js/mustache.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <div class="container bg-info p-1">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" th:href="@{/}">NITV</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="#">Features</a>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="container my-5">
            <div class="card-body text-center">
                <h2 class="card-title">List of Devices</h2>
            </div>

            <div>
                <label>Search: </label>
                <input id="searchId" type="text" placeholder="Search">
    <!--            <form method="get" th:action="@{/}">-->
<!--                <input type="text" name="search" placeholder="Search">-->
    <!--                <input type="submit" value="Search">-->
    <!--            </form>-->
            </div>
            <div>
                Show <select id="maxRows">
                <option disabled selected>*</option>
                <option value="2">2</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
            </select>
                Entries
            </div>
            <div class="card">
                <div th:if="${saveError}" class="alert alert-danger">
                    <span th:text="${saveError}"></span>
                </div>
    <!--            <span class="text-center"></span>-->
                <button id="add__new__device" type="button" class="btn btn-success position-absolute" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-plus"></i> Add a new Device </button>
    <!--            <a th:href="@{/registration}" class="btn btn-sm btn-info">Add a new Device</a>-->
                <table id="deviceTable" class="table table-hover display">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">MAC Address</th>
                        <th scope="col">Chipset</th>
                        <th scope="col">Build</th>
                        <th scope="col">Manufacturer</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody id="devices">
                        <template id="deviceTemplate">
                            <tr>
                                <td><span>{{id}}</span></td>
                                <td>{{mac}}</td>
                                <td>{{chipSet}}</td>
                                <td>{{build}}</td>
                                <td>{{manufacturer}}</td>
                                <td>
                                    <a data-id="{{id}}" class="btn btn-sm btn-info" th:href="'/read/{{id}}'"><i class="fa fa-info-circle"></i> View</a>
                                    <a class="btn btn-sm btn-primary" th:href="'/update/{{id}}'"><i class="fa fa-edit"></i> Edit</a>
                                    <a class="btn btn-sm btn-danger" th:href="'/delete/{{id}}'"><i class="fa fa-trash"></i> Delete</a>
                                </td>
                            </tr>
                        </template>

<!--                        <tr th:each="data : ${devices.content}">-->
<!--                            <td th:text="${data.id}"></td>-->
<!--                            <td th:text="${data.mac}"></td>-->
<!--                            <td th:text="${data.chipSet}"></td>-->
<!--                            <td th:text="${data.build}"></td>-->
<!--                            <td th:text="${data.manufacturer}"></td>-->
<!--                            <td>-->
<!--                                <a class="btn btn-sm btn-info" th:href="'/read/'+${data.id}"><i class="fa fa-info-circle"></i> View</a>-->
<!--                                <a class="btn btn-sm btn-primary" th:href="'/update/'+${data.id}"><i class="fa fa-edit"></i> Edit</a>-->
<!--                                <a class="btn btn-sm btn-danger" th:href="'/delete/'+${data.id}"><i class="fa fa-trash"></i> Delete</a>-->
<!--                            </td>-->
<!--                        </tr>-->
                    </tbody>
                </table>

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">

                    </ul>
                </nav>

<!--                <div class="pagination-container">-->
<!--                    <nav>-->
<!--                        <ul class="pagination"></ul>-->
<!--                    </nav>-->
<!--                </div>-->
<!--                <ul class="nav nav-pills">-->
<!--                    <li class="nav-item" th:each="i: ${#numbers.sequence(1, devices.totalPages)}">-->
<!--                        <a th:href="@{/(page = ${i})}" th:text="${i}" class="nav-link" th:classappend="(${currentPage} == ${i}) ? 'active': ''"></a>-->
<!--                    </li>-->
<!--                </ul>-->
            </div>
            <!-- Large modal -->


            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="card-body text-center">
                            <h4 class="card-title">Add Device</h4>
                        </div>
                        <div class=" card col-8 offset-2 my-2 p-3">
                            <form action="#" method="post" th:action="@{/addDevice}" th:object="${device}">

                                <div class="form-group">
                                    <label>MAC Address</label>
                                    <input type="text" class="form-control" th:field="*{mac}" placeholder="XX:XX:XX:XX:XX:XX">
                                </div>
                                <div class="form-group">
                                    <label>Chipset</label>
                                    <input  type="text" class="form-control" th:field="*{chipSet}" placeholder="Enter the Chipset">
                                </div>
                                <div class="form-group">
                                    <label>Build</label>
                                    <input  type="text" class="form-control" th:field="*{build}" placeholder="0.0.0">
                                </div>
                                <div class="form-group">
                                    <label>Manufacturer</label>
                                    <input  type="text" class="form-control" th:field="*{manufacturer}" placeholder="Enter manufacturer name">
                                </div>
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer >
        <div class="container bg-info p-2">
            <span>Designed and Compiled By: Bishal Malla</span>
        </div>
    </footer>

</body>
</html>